<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-content header">
            <div class="logo-content">
                <img src="\assets\images\logo.png">
                <div>
                    <span class="emp-text">EMPLOYEE</span>
                    <span class="emp-text emp-payroll">PAYROLL</span>
                </div>
            </div>
        </div>
    </header>
</body>
<router-outlet></router-outlet>